.App {
  font-family: 'Open Sans', sans-serif; 
  background-color:#FFFCF5;
}

nav {
  background-image: url("/images/navImage.png");
  font-family: 'Cardo', serif;
  padding: 20px 140px 20px 140px;
}

.header-name{
  font-size:3em;
  text-decoration: underline;
}

.nav-right{
  float:right;
  font-size:2em;
  padding-top: 15px;
}

.nav-right a {
  padding-left:50px;
}

.nav-right a:hover {
  text-decoration: underline;
}

.header-image {
  width:100%;
  background-image: url("/images/header.png");
}

#header-image1{
  display: inline;
}
#header-image2{
  display: none;
}

.border{
  width:100%;
}

footer div{
  background-color:black;
  color:white;
  text-align:center;
  padding-bottom:20px;
  margin-top:-8px;
}

a {
  color:black;
}

.event-card {
  padding: 20px 140px 20px 140px;
}

.event-title{
  color:gray;
  font-size:2.75em;
}

.event-body{
  max-width:80%;
  font-size:1.25em;
}

.image-block{
  text-align: center;
  padding-bottom: 10px;
}


h2{
  margin:0px;
  margin-bottom:20px;
}

h1 {
  text-align:center;
  font-size:3em;
}

.gallery{
  padding: 20px 140px 20px 140px;
}

.gallery img{
padding:2%;
width:80%;
}

.row{
  display:flex;
}

@media only screen and (max-width: 1300px) {
  .nav-right{
    font-size:1.5em;
    padding-top: 5px;
  }
  nav{
    padding: 20px 40px 20px 40px;
  }
  .nav-right a {
    padding-left:20px;
  }

  .header-name{
    font-size: 2em;

  }
  .row {
    flex-direction: column-reverse;
  }
  
  .gallery{
    padding: 20px 40px 20px 40px;
  }

  .event-card {
    padding: 20px 40px 20px 40px;
  }
  img{
    width:60%;
  }
  #header-image1{
    display: none;
  }
  #header-image2{
    display: inline;
  }
  .event-card{
    text-align: center;
  }
  .event-body{
    max-width:100%;
  }
  .gallery img{
  
    width:100%;
    }

}